<div class="container w-xxl w-auto-xs">
    <a href class="navbar-brand block m-t">{{'fanyi094'|translate}}:{{username}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>{{'chapaw'|translate}}</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="list-group list-group-sm">

                <div class="list-group-item">
                    <input type="password" placeholder="{{'fanyi99'|translate}}" class="form-control no-border" ng-model="newPassword" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="{{'fanyi100'|translate}}" class="form-control no-border" ng-model="confirmNewPassword" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="editVm.confirmChangePassword()" ng-disabled='form.$invalid || (newPassword != confirmNewPassword)'>{{'confirm'|translate}}</button>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="editVm.cancelChangePassword()" >{{'quxiao'|translate}}</button>
        </form>
    </div>
</div>