<div class="modal-header-without-border-bottom">
    <div class="col-md-4">
        <!--<h3 class="modal-title ">查看用户</h3>-->
    </div>
    <div>
        <ul id="userViewTab" class="nav nav-tabs">
            <li class="active"><a data-target="#basicInfo" data-toggle="tab">{{'fanyi28'|translate}}</a></li>

        </ul>
    </div>
</div>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active " id="basicInfo">
        <div class="modal-body">
            <form role="form" class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi29'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <input type="hidden" class="form-control" ng-model="saves.PlanID" >
                        <input type="text" class="form-control" ng-model="saves.CamID"  disabled>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi30'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="saves.CameraName" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi31'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="saves.StreamingID" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi32'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <input type="hidden" class="form-control" ng-model="saves.WorkDay" >
                        <input type="text" class="form-control" ng-model="saves.dayTemp" disabled>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi33'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <div style="width: auto ;margin-left: 10%">
                            {{'fanyi34'|translate}}：<input type="checkbox" ng-model="work1" ng-checked="false"
                                       ng-click="editVm.updateSelectionAll($event,'A2')">&nbsp;&nbsp;

                            {{'fanyi35'|translate}}：<input type="checkbox" ng-model="work2" ng-checked="false"
                                       ng-click="editVm.updateSelectionAll($event,'A3')">&nbsp;&nbsp;
                            {{'fanyi36'|translate}}：<input type="checkbox" ng-model="work3" ng-checked="false"
                                       ng-click="editVm.updateSelectionAll($event,'A4')">&nbsp;&nbsp;
                            {{'fanyi37'|translate}}：<input type="checkbox" ng-model="work4" ng-checked="false"
                                       ng-click="editVm.updateSelectionAll($event,'A5')">&nbsp;&nbsp;
                            <br>
                            {{'fanyi387'|translate}}：<input type="checkbox" ng-model="work5" ng-checked="false"
                                       ng-click="editVm.updateSelectionAll($event,'A6')">&nbsp;&nbsp;
                            {{'fanyi39'|translate}}：<input type="checkbox" ng-model="work6" ng-checked="false"
                                       ng-click="editVm.updateSelectionAll($event,'A7')">&nbsp;&nbsp;
                            {{'fanyi40'|translate}}：<input type="checkbox" ng-model="work7" ng-checked="false"
                                       ng-click="editVm.updateSelectionAll($event,'A1')">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi41'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="saves.KeepTime" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi42'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="saves.IslostStop" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi43'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="saves.StartTime" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>{{'fanyi44'|translate}}</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="saves.StopTime" >
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="editVm.submit()">{{'fanyi45'|translate}}</button>
            <button class="btn btn-primary" type="button" ng-click="editVm.cancel()">{{'fanyi46'|translate}}</button>
        </div>
    </div>
</div>
</div>





