<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title">新增电视墙设备</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <div class="col-md-3">
               <!-- <label>设备类型</label>-->
            </div>

            <div class="col-md-9">

                <input type="hidden" class="form-control" ng-model="deviceType" name="deviceType" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>大屏数目</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="res.ResID" name="ResID"
                       required>
                <div class="error" ng-show="myForm.ResID.$dirty && myForm.ResID.$invalid" style="color:#F00">
                    <small class="error" ng-show="myForm.ResID.$error.required">不能为空</small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>大屏与解码器间的输出关系</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="res.ResID" name="ResID"
                      required>
                <div class="error" ng-show="myForm.ResID.$dirty && myForm.ResID.$invalid" style="color:#F00">
                    <small class="error" ng-show="myForm.ResID.$error.required">不能为空</small>
                </div>
            </div>
        </div>

        </div>
        <div class="modal-footer">
            <!--ng-disabled="form.$invalid"-->
            <button class="btn btn-primary" type="button"  ng-click="addVm.submit()">提交
            </button>
            <button class="btn btn-warning" type="button" ng-click="addVm.cancel()">取消</button>
        </div>

</form>