<div class="modal-header-without-border-bottom">
    <div class="col-md-4">
        <!--<h3 class="modal-title ">查看用户</h3>-->
    </div>
    <div>
        <ul id="userViewTab" class="nav nav-tabs">
            <li class="active"><a data-target="#basicInfo" data-toggle="tab">设备信息</a></li>
            <li><a data-target="#accountInfo" data-toggle="tab">用户名密码及地址</a></li>
            <li><a data-target="#avator" data-toggle="tab">高级属性</a></li>
        </ul>
    </div>
</div>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active " id="basicInfo">
        <div class="modal-body">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                     <!--   <label>资源ID</label>-->
                    </div>

                    <div class="col-md-9">
                        <input type="hidden" class="form-control" ng-model="res.ResID">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-3">
                        <label>设备SIPID</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.DeviceID">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>资源名称</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>设备类型</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.ProtocolType">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>设备厂商</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Manufacturer">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>设备型号</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Model">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>设备状态</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Status">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>平台ID</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.PlatformID">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>设备类型代码</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.ResType">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>子设备标志</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Parental">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>父设备SIPID</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.ParentID">
                    </div>
                </div>


            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="editVm.cancel()">关闭</button>
        </div>
    </div>

    <div class="tab-pane fade " id="accountInfo">
        <div class="modal-body">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>用户名</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.UsrName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>密码</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>IP地址</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.IPAddress">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>安装地址</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>端口号</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Port">
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="editVm.cancel()">关闭</button>
        </div>
    </div>

    <div class="tab-pane fade" id="avator">
        <div class="modal-body">
            <form role="form" class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-3">
                        <label>权属单位</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Owner">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>行政区划</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.CivilCode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>警区</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Block">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>经度</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Longitude">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>纬度</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Latitude">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>SIP服务ID</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.SipServiceID">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>布防撤防标志</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.GuardFlag">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>28181信令安全模式</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.SafetyWay">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>28181注册方式</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.RegisterWay">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>证书序列号</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.CertNum">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>证书有效标识</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Certifiable">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>证书错误码</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.ErrCode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>证书终止有效期</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.EndTime">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>保密属性</label>
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="res.Secrecy">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="editVm.submit()">提交</button>
            <button class="btn btn-primary" type="button" ng-click="editVm.cancel()">关闭</button>
        </div>

    </div>
</div>





