
<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title">批量上传摄像头信息</h3>
    </div>
    <div class="modal-body">

        <ul>
            <!--<li><a href="javascript:void(0)" ng-click="download_codec()">点击下载批量导入模板</a></li>-->


            <li ><a href="ma/camera/downloadFile"><h4><span class="label label-warning">点击下载批量导入模板</span></h4></a></li>
            <hr>
            <li>
                <span>上传列表信息 </span> <input type="file" nv-file-select  uploader="uploader"/>
                <input name="token" type="hidden" ng-model="token" maxlength="1000">

            </li>

        </ul>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-addon btn-success" ng-click="uploadFileCode()"
                ng-disabled="!uploader.getNotUploadedItems().length">
            <i class="fa fa-arrow-circle-o-up"></i> 上传
        </button>
        <button class="btn btn-warning" type="button" ng-click="addsVm.cancel()">取消</button>
    </div>

</form>
