<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title">NTP配置{{'fanyi400'|translate}}</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi282'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="ntpc.IPAddress">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi283'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="ntpc.Port" ng-init="ntpc.Port='123'"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi401'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="ntpc.TimeOut" ng-init="ntpc.TimeOut='3600s'" >
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ntpVm.submit()">{{'fanyi45'|translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="ntpVm.cancel()">{{'quxiao'|translate}}</button>
    </div>

</form>