
<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title">{{'fanyi402'|translate}}</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                <span>{{'selectssl'|translate}}</span><br><br> <input type="file" nv-file-select  uploader="uploader"/>
                <input name="token" type="hidden" ng-model="token" maxlength="1000">

            </li>

        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-addon btn-success" ng-click="uploadFileCode()"
                ng-disabled="!uploader.getNotUploadedItems().length">
            <i class="fa fa-arrow-circle-o-up"></i> {{'fanyi87'|translate}}
        </button>
        <button class="btn btn-warning" type="button" ng-click="dlVm.cancel()">{{'quxiao'|translate}}</button>
    </div>

</form>
