<!--导航条-->
<div ng-controller="IndexCtrl">
    <nav class="navbar navbar-default navbar-static-top im-navbar">
        <div class="container-fluid">
            <div class="navbar-left">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="sysim/images/logo.png"/>
                </a>
                <label class="navbar-text">XX市公安局合作作战平台</label>
            </div>
            <div class="navbar-right" ng-show="user.status==1">
                <img class="avatar" ng-src="{{user.avatar}}"/>
                <span class="navbar-text">{{user.name}}</span>
                              <!--<a target="_parent"-->
                <!--ui-sref="App.login" ng-click="logout()">exit</a>-->

                <button type="button" class="btn btn-link navbar-btn" ng-click='logout()'>退出
                </button>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <!--警情列表 警情详情-->
                <news-list></news-list>
                <news-detail></news-detail>
            </div>
            <div class="col-xs-9">
                <!-- im主题区域 -->
                <div class="row">
                    <div class="col-xs-3 contract-panel">
                        <!--通讯录列表-->
                        <contract-list></contract-list>
                    </div>
                    <div class="col-xs-9 im-panel">
                        <!-- 聊天区 -->
                        <im-panel></im-panel>
                    </div>
                </div>
                <!--登录框-->
                <login></login>
            </div>
        </div>
    </div>
</div>