<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title" align="center">查看组信息{{'fanyi253'|translate}}</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi246'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="gro.GroupID"
                       disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi247'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="gro.Type" disabled/>


            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi241'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="gro.VirtualOrgID" disabled/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi242'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="gro.name" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi249'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="gro.ParentID" disabled>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi224'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="gro.BusinessGroupID" disabled>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi244'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="gro.ParentOrgID" disabled>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <button class="btn btn-warning" type="button" ng-click="viewVm.cancel()">{{'fanyi46'|translate}}</button>
    </div>

</form>