
<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title" align="center">{{'fanyi433'|translate}}</h3>
    </div>
    <div class="modal-body">


                <input type="hidden" class="form-control" ng-model="updown.PlatformId" >

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi434'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.PlatformName" >
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-3">
                <label>{{'plfip'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.IPAddress" >
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi283'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.PlatformPort" >
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-3">
                <label>{{'dockmeth'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.ProtocolType" >
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi435'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.SipID" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi437'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.SipDomain" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi414'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.UpUsrName" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi416'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.UpPassword" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi438'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.UpRealm" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi426'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.DownUsrName" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi427'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.DownPassword" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi439'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.DownRealm" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi441'|translate}}</label>
            </div>

            <div class="col-md-9">
               <!-- <input type="text" class="form-control" ng-model="updown.SignalTransportType" >-->
                <select class="form-control" ng-model="updown.SignalTransportType">
                    <option value=0>UDP</option>
                    <option value=1>TCP</option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi440'|translate}}</label>
            </div>

            <div class="col-md-9">
                <!--<input type="text" class="form-control" ng-model="updown.StreamTransportType" >-->
                <select class="form-control" ng-model="updown.StreamTransportType">
                    <option value=0>UDP</option>
                    <option value=1>TCP</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi460'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.UsrID" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi442'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.Status" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi436'|translate}}</label>
            </div>

           <!-- <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.ConnectState" >
            </div>-->
            <div class="col-md-9">
                <select class="form-control" ng-model="updown.ConnectState">
                    <option value=0>无对接</option>
                    <option value=1>上联</option>
                    <option value=2>下联</option>
                    <option value=3>互联</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi443'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.SipServiceID" >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi444'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="updown.SubScribeInfo" >
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="editVm.submit()">{{'fanyi45'|translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="editVm.cancel()">{{'quxiao'|translate}}</button>
    </div>

</form>