
<div class="panel panel-default ">
    <div class="panel-body">
        <div class="form-group" style="padding-bottom: 50px;padding-top: 20px">
            <div class="col-md-3">
                <label>{{'queryding'|translate}}</label>
            </div>

            <div class="col-md-8" >
                <select  class="form-control" ng-model="QueryOrSubscribe" ng-init="QueryOrSubscribe='1'">
                    <option value="1">1：{{'fanyi384'|translate}}</option>
                    <option value="2">2：{{'fanyi450'|translate}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi451'|translate}}</label>
            </div>

            <div class="col-md-8" >
                <ul my-dir-c class="ztree" ng-model="selectQueryNodes" id="treeAE"></ul>

            </div>

        </div>
    </div>

    <div class="panel-footer" align="right">
        <button class="btn btn-primary" type="button" ng-click="queryVm.submit()">{{'fanyi384'|translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="queryVm.cancel()">{{'quxiao'|translate}}</button>
    </div>

</div>


