<form name="form" role="form" class="form-horizontal form-validation">
    <div class="modal-header">
        <h3 class="modal-title" align="center">{{'fanyi110'|translate}}</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi105'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="authority.authorityName"
                       readonly>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi106'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="authority.description" readonly/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi111'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="authority.updateTime" readonly/>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-3">
                <label>{{'fanyi109'|translate}}</label>
            </div>

            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="authority.orderNum" readonly/>
            </div>
        </div>



    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button"  ng-click="viewVm.submit()">{{'fanyi45'|translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="viewVm.cancel()">{{'quxiao'|translate}}</button>
    </div>

</form>